build
DerivedData
UDP_tests
lib
src_generator/generated
src_mqtt_test/.vscode
src_mqtt_test/generated
src_udp_test/.vscode
src_udp_test/generated
.vscode
Icon?
/bin
/vs_2017*
/vs_2019*

*.exe
*.ilk
*.pdb
.idea
cmake-build-debug/.cmake
cmake-build-debug
